@font-face {
  font-family: "Bebas Neue Regular";
  src: local("Bebas Neue Regular"), local("Bebas Neue Regular"),
    url("../fonts/Bebas Neue Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box; /*позволяет правильно считать ширину и длину элементов для всех на странице это правило */
}
.body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5; /* полоска синяя снизу*/
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex; /* сделали блок гибким*/
  justify-content: space-between; /*расставили элементы по краям*/
  align-items: center;
}
.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутрение отступы */
  list-style: none; /* отключаем точки у списка*/
  display: flex; /* сделали блок гибким, элементы выстроились в линию*/
  text-align: center; /* сделали чтобы в центре все эелементы*/
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none; /* отключаем подчеркивание текста ссылок*/
  color: #fff; /*делаем белый цвет текста*/
}

.navbar-contacts {
  text-align: right;
  color: #fff;
  margin-bottom: 4px; /*отступ номера телефона*/
}
.navbar-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /*разбрасываем элементы по краям*/
}

.home-image path {
  /*прописываем для каждого этажа*/
  opacity: 0; /*прописываем прозрачность каждого этажа, при нуле все прозрачные*/
}
.home-image path:hover {
  opacity: 1; /*прозрачность меняем на единицу*/
  cursor: pointer; /*при наведении курсор будет в виде пальца*/
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.counter-arrow-down {
  transform: rotateX(180deg);
}
.main-tytle {
  margin: 0;
  font-family: "Bebas Neue Regular", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.counter {
  color: #635854;
  font-weight: normal;
  font-size: 124px;
  font-family: "Bebas Neue Regular", sans-serif;
  margin-top: 10px;
}
.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
